<div class="mx-auto flex w-full max-w-4xl flex-col gap-6">
  <%= render FlatPack::PageTitle::Component.new(
    title: "Gem views",
    subtitle: "The user-facing templates the gem currently provides out of the box.",
    variant: :h1
  ) %>

  <%= render FlatPack::List::Component.new(divider: true, class: "rounded-xl border border-[var(--surface-border-color)] bg-[var(--surface-background-color)] p-4") do %>
    <% @gem_views.each do |view_name| %>
      <%= render FlatPack::List::Item.new { view_name } %>
    <% end %>
  <% end %>
</div>
